<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='css/style.css' /> <!-- oppure ./css -->
    <!-- le due parentesi graffe servono per gestire le componenti dinamiche -->
    <title>{{homeTitle}}</title>
  </head>
  <body>
    <!--Header-->
    {{> header }}

    <h1>Hello {{nome}}</h1>
    <h3>Il titolo della pagina è: {{homeTitle}}</h3>


<p>Pet: <span><b>{{ myPreferences.pet }}</b></span></p>
<p>Color: <span><b>{{ myPreferences.color }}</b></span></p>
<p>Season: <span><b>{{ myPreferences.season }}</b></span></p>

    
    
    <!--Footer-->
    {{> footer }}
  </body>
</html>