<section class="showcase">
    <div class="container">
        <div class="pb-2 mt-4 mb-2 border-bottom">
            <h2>Prodotti dinamici con MongoDB/Mongoose, Express, Handlebars</h2> <a class="btn btn-info float-right btn-sm" href="/"> Nuovo Prodotto</a></h2>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Descrizione</th>
                            <th>Prezzo</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {{#each productlist}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.price}}</td>
                    
                            <td>
                                <a href="/{{this._id}}">Edit</a>
                                <a href="/delete/{{this._id}}"
                                    onclick="return confirm('Vuoi davvero cancellare?');">Cancella</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>